.btn.btn-lg {
    line-height: 26px;
    font-size: 20px;
    padding: 12px 24px;
}

.btn.btn-primary {
    background-color: #37E2D5;
    color: #fff;
    border-radius: 57px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 12%);
}

.btn {
    border: 0;
    box-sizing: border-box;
    display: inline-block;
}

.bg h3 {
    color: gold;
    /* margin: 0;
    padding: 70px 25px 25px; */
}

.bg p {
    color:#fff;
}

.bg2 h5 {
    color:#00c4c9;
}


.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-registration input {
    border-radius : 0;
    margin-bottom: -1px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
} */

/* .featurette-divider {
    margin: 5rem 0; 
} */

/* .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
} */

/* @media (min-width: 40em) {

.carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
    }

.featurette-heading {
    font-size: 50px;
    }
} */

@media (min-width: 62em) {

.featurette-heading {
    margin-top: 7rem;
    }
}

/* .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
} */
